@page
@model IndexModel
@{
  ViewData["Title"] = "Main";
}

<div class="row">
    <div class="col-md-6">

        <h2>Generate words</h2>
        <div asp-validation-summary="All"></div>
        <form method="POST">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Letter"></label>
                    <input asp-for="Letter" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="LetterCount"></label>
                    <input asp-for="LetterCount" class="form-control" />
                </div>
            </div>
            <input type="submit"/>
        </form>
    </div>
</div>


@if (Model.WordList != null)
{
@foreach (var contact in Model.WordList.GroupBy(x => x.Length))
 {
     <div class="row">
         <div class="col-md-12">
             <h2>@contact.Key letter</h2>
             <table class="table">
                 <thead>
                 <tr>
                     <th>Name</th>
                 </tr>
                 </thead>
                 <tbody>
                 @foreach (var group in contact)
                 {
                     <tr>
                         <td>@group</td>
                     </tr>
                 }
                 </tbody>
             </table>
         </div>
     </div>
 }
}
